html {
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

h1 {
    font-size: 1.7rem;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-weight: 700;
}

body {
    color: hsla(0, 0%, 100%, 0.75);
    background-color: hsl(0, 0%, 95%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.cars {
    font-size: 0.7rem;
    display: flex;
    width: 100%;
    max-width: 720px;
    border-radius: 8px;
    overflow: hidden;
    font-weight: 400;

}

.sedan {
    background-color: hsl(31, 77%, 52%);
    padding: 2rem;
}

.suv {
    background-color: hsl(184, 100%, 22%);
    padding: 2rem;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    padding: 2rem;
}

img {
    width: 2.5rem;
}

p {
    padding-bottom: 3rem;
    line-height: 1.5;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

button {
    font-size: 0.7rem;
    background-color: hsl(0, 0%, 95%);
    border: none;
    border-radius: 5rem;
    padding: 10px 20px;
}

.sedan button {
    color: hsl(31, 77%, 52%);
}

.suv button {
    color: hsl(184, 100%, 22%);
}

.luxury button {
    color: hsl(179, 100%, 13%);
}